// Colors
$accentColor = #3d9de1
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #cccccc
$badgeTipColor = #42b983
$badgeWarningColor = #e7c000
$badgeDangerColor = #cc0000

// Layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// Responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px